

#Change the cookie name
#It needs to match OAUTH2PROXY_COOKIE_NAME in the .env file
cookie_name="_itaintboring_oauth2_proxy"

provider="oidc"

cookie_csrf_per_request="true"
cookie_csrf_expire="5m"
cookie_expire=0
set_xauthrequest=true
skip_provider_button=true


cookie_domains=["*"] # Required so cookie can be read on all subdomains.
http_address="0.0.0.0:4180"
email_domains="*"
cookie_secure="false"


#Update the url below to match your "external" domain/port, keep oauth2/callback portion as is
redirect_url="https://portal.itaintboring.com/oauth2/callback"

#Whitelist your domain here, keep oauth2-proxy
whitelist_domains=[".itaintboring.com:*",".oauth2-proxy:*"] # Required to allow redirection back to original requested target.

#To generate a cookie secret, see this: https://oauth2-proxy.github.io/oauth2-proxy/configuration/overview/
cookie_secret="M..........SU8="

code_challenge_method="plain"
skip_oidc_discovery="true"

#CONFIGURE THE URLS-S BELOW USING YOUR AZURE B2C "well-known" ENDPOINT
#See this: https://learn.microsoft.com/en-us/entra/identity-platform/v2-protocols-oidc
#Below are examples only

oidc_issuer_url="https://treecatsoftwareb2c.b2clogin.com/tfp/5cb9b89d-d5d2-4e31-b88b-e82a2cf12121/b2c_1_tcportal1/v2.0/"
login_url="https://TreeCatSoftwareB2C.b2clogin.com/TreeCatSoftwareB2C.onmicrosoft.com/b2c_1_tcportal1/oauth2/v2.0/authorize"
redeem_url="https://TreeCatSoftwareB2C.b2clogin.com/TreeCatSoftwareB2C.onmicrosoft.com/b2c_1_tcportal1/oauth2/v2.0/token"
oidc_jwks_url="https://TreeCatSoftwareB2C.b2clogin.com/TreeCatSoftwareB2C.onmicrosoft.com/b2c_1_tcportal1/discovery/v2.0/keys"

#AZURE B2C APPLICATION ID and SECRET
client_id="52f70d40-d5ad-4e54-b0e7-a3f776978e68"
client_secret="............"

provider_display_name="Azure B2C"

#You'll need to add a scope to your app in Azure B2C, otherwise can't use authorization code flow, which is what Oauth2Proxy will be using though

scope="https://TreeCatSoftwareB2C.onmicrosoft.com/52f70d40-d5ad-4e54-b0e7-a3f776978e68/read openid"

#Oauth2Proxy can't use multiple emails the way Azure B2C does, so needs another claim to identify the user
#keep it as is
oidc_email_claim="oid"

#GOOGLE - example only, might require more testing
#oidc_issuer_url="https://accounts.google.com"
#client_secret=""
#client_id=""
#provider_display_name="Google"

request_logging = true
errors_to_info_log = true







